.steps{
	width: 1052px;
	margin: 0 auto;
	margin-top: 37px;
}
.step{
	float: left;
	width: 33.3%;
	text-align: center;
}
.step__text{
	font-size: 24px;
	line-height: 33px;
	color: #B9B9B9;
}
.step__line{
	height: 8px;
	background: #f0f0f0;
    margin-top: 10px;
}
.step--active .step__text{
	color: #017233;
}
.step--active .step__line{
	background: #017233;
}
.config-logo{
	width: 488px;
	height: 162px;
	margin: 0 auto;
	margin-top: 40px;
	
}
.config-logo--wechat{
	background-image: url('../img/ic_1.config wechat@2x.png');
}
.config-logo--ac{
	background-image: url('../img/ic_2.config ac@2x.png');
}
.config-logo--finished{
	background-image: url('../img/ic_3.finish configration@2x.png');
}
.form--config-wechat{
	width: 580px;
	padding-right: 140px;
}
.form--config-ac{
	width: 584px;
	padding-right: 150px;
}
.button--config-wechat{
	margin-left: 143px;
	width: 437px;
	margin-bottom: 76px;
}
.button--config-ac{
	margin-left: 153px;
	width: 432px;
	margin-bottom: 32px;
}
.form--config-ac .form-item__label{
	width: 153px;
}
.form--config-ac .form-item__content{
	margin-left: 153px;
}
.config-content{
	width: 550px;
	margin: 0 auto;
	margin-top: 10px;
	font-size: 14px;
}
.success__icon{
	width: 56px;
	height: 56px;
	float: left;
}
.icon--success{
	background-image: url('../img/ic_success@2x.png');
}
.success__text{
	float: left;
	font-size: 18px;
	line-height: 56px;
	font-weight: bold;
	margin-left: 20px;
	
}
.config-content__ac{
	margin-top: 52px;
}
.config-content__icon{
	float: left;
}
.icon--book{
	width: 54px;
	height: 38px;
	background-image: url('../img/ic_ac system@2x.png');
	margin: 0 1px;
}
.icon--light{
	width: 49px;
	height: 54px;
	background-image: url('../img/ic_wechat functions@2x.png');
	margin: 0 3.5px
}
.config-content__wrapper{
	margin-left: 20px;
	float: left;
}
.config-content__ac .config-content__wrapper{
	line-height: 20px;
}
.config-content__wechat .config-content__wrapper{
	line-height: 26px;
}
.config-content__link{
	margin-top: 8px;
}
.config-content__link a{
	color: #017233;
	text-decoration: underline;
}
.config-content__link a:hover{
	text-decoration: underline;
}
.config-content__wechat{
	margin-top: 30px;
}
.row__icon{
    width: 16px;
    height: 11px;
    float: left;
    margin: 8px 14px 0 6px;
}
.icon--check-mark{
	background-image: url('../img/duigou@2x.png');
}
.row__text{
	float: left;
}
.button--config-finished{
	margin-left: 58px;
	margin-top: 28px;
}
